$mainColor: red;




/* media queries */
$media_iphone6andHigher_width: 375;
$media_iphone6andHigher_height: 667;

$media_iphone6plusAndHigher_width: 414;
$media_iphone6plusAndHigher_height: 736;

$media_iphoneX_width: 375;
$media_iphoneX_height: 812;
